<!-- <div class="scroll">
    <table class="table table-striped">
    <thead>
    <th>SecurityName</th>
    <th>TransactionDate</th>
    <th>Units</th>
    <th>Price</th>
    <th>TotalTransaction</th>
    <th>Allocation</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let s of securityArray">
    <td>{{s.securityName}}</td>
    <td>{{s.transactionDate}}</td>
    <td>{{s.units}}</td>
    <td>{{s.price}}</td>
    <td>{{s.totalTransaction}}</td>
    <td>{{s.allocation}}</td>
    <td><button class="btn btn-primary">Edit</button></td>
    <td><button (click) = "deleteSecurity(s.securityName)"class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
    </table>
    </div> -->