<!-- 
<div class="bg">
    <div class="coi-md-6 col-lg-6 col-11  mx-auto search-box">
<div class="input-group form-container">
<input type="text" name="search" class="form-control search-inpur" placeholder="Search by Symbol" 
autofocus="autofocus" autocomplete="off">


<button class="btn btn-primary" type="submit">Get Data</button>


</div>
    </div>
</div> -->

<!-- <div id="bg">
    <div class="row">
        
        <div class="col-sm-2" id="menu">
            
        </div>
        <div class="col-sm-8"> -->

<div class="card text-center">
    <div class="card-header">
      <form #searchSymbol="ngForm" (submit)="searchSubmit(searchSymbol)">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by Symbol" aria-label="Recipient's username" aria-describedby="button-addon2" name="symbol" ngModel #symbol="ngModel">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Get Details">Submit</button>
      </div>
      </form>
    </div>


    <table class="table  table-bordered">

        <thead class="table-dark">
          <tr>

          
                <th>Security Code</th>
                <th>Symbol</th>
                <th>Security Name</th>
                <th>ISIN No</th>
                <th> Sector</th>
                <th> Industry</th>
                <th>Exchange</th>
                <th>Currency</th>
                <th>Gics</th>
                <th>Price</th>
                <th>Country</th>
          </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let s of stocks;let i = index">
               
                <td>{{s.securityCode}}</td> 
                    <td>{{s.symbol}}</td>
                    <td>{{s.securityName}}</td>
                    <td>{{s.isinNo}}</td>
                    <td>{{s.sector}}</td>
                    <td>{{s.industry}}</td>
                    <td>{{s.exchange}}</td>
                    <td>{{s.currency}}</td>
                    <td>{{s.gics}}</td>
                    <td>{{s.price}}</td>
                    <td>{{s.country}}</td>
    
                   
            </tr>
        </tbody>
    
        </table>
