<!-- <table class="table  table-bordered">

    <thead class="table-dark">
      <tr>

    
            <th>Security Code</th>
            <th>Symbol</th>
            <th>Security Name</th>
            <th>ISIN No</th>
            <th> Sector</th>
            <th> Industry</th>
            <th>Exchange</th>
            <th>Currency</th>
            <th>Gics</th>
            <th>Price</th>
            <th>Country</th>
      </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let s of stocksArr;let i = index">
            
            <td>{{s.securityCode}}</td> 
                <td>{{s.symbol}}</td>
                <td>{{s.securityName}}</td>
                <td>{{s.isinNo}}</td>
                <td>{{s.sector}}</td>
                <td>{{s.industry}}</td>
                <td>{{s.exchange}}</td>
                <td>{{s.currency}}</td>
                <td>{{s.gics}}</td>
                <td>{{s.price}}</td>
                <td>{{s.country}}</td>

               
        </tr>
    </tbody>

    </table> -->

    <!-- <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="" name="name">
        
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" id="email" [(ngModel)]="" name="email">
        
        </div>
        <div class="form-group">
          <label for="name">Phone</label>
          <input type="text" class="form-control" id="phone" [(ngModel)]="" name="phone">
        
        </div>
        <div class="form-group">
          <label for="name">Department</label>
          <input type="text" class="form-control" id="department" [(ngModel)]="" name="department">
        </div>
        <button style='margin-right:16px' class="btn btn-success">Submit</button>
         <button style='margin-right:16px' (click)="list()" class="btn btn-success">Back to Employees</button> 
        
        </form> -->