



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
      <a class="navbar-brand" href="#">
          <img src="../../assets/images/logo7.jpg" alt="" width="60px" height="60px" alt="">
      </a>
  </div>
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="navbar-nav">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a></li>
            <!-- <li class="nav-item">
              <a class="nav-link  active" routerLink="/all">All Stocks</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/isin_no">By ISIN No</a></li>
                <li><a class="dropdown-item" routerLink="/industry">By Industry</a></li>
                <li><a class="dropdown-item" routerLink="/symbol">By Symbol</a></li>
                <li><a class="dropdown-item" routerLink="/sector">By Sector</a></li>
                <li><a class="dropdown-item" routerLink="/security">By Security</a></li>
              </ul>
            </li> -->
        </ul>
        
          <!-- <li class="navbar-nav">
            <a class="nav-link active" routerLink="m">Contact</a>
          </li>
          <li class="navbar-nav">
            <a class="nav-link active" routerLink="/#">About Us</a>
          </li> -->
        
      </div>
    </div>
  </nav>


<br><h3>STOCKS</h3><hr>
<p>A stock, also known as equity, is a security that represents the ownership of a fraction of the issuing corporation. Units of stock are called "shares" which entitles the owner to a proportion of the corporation's assets and profits equal to how much stock they own. 
 Stocks are bought and sold predominantly on stock exchanges and are the foundation of many individual investors' portfolios. Stock trades have to conform to government regulations meant to protect investors from fraudulent practices</p>
<div class="B">
    <img src="../../assets/images/explore.jpg">&nbsp;&nbsp;&nbsp;
    <img src="../../assets/images/explore1.jpg">
</div>
 <br>
 <h3>TYPES</h3><hr>
 <p>Stock typically takes the form of shares of either common stock or preferred stock. As a unit of ownership, common stock typically carries voting rights that can be exercised in corporate decisions. Preferred stock differs from common stock in that it typically does not carry voting rights but is legally entitled to receive a certain level of dividend payments before any dividends can be issued to other shareholders. Convertible preferred stock is preferred stock that includes an option for the holder to convert the preferred shares into a fixed number of common shares, usually any time after a predetermined date. Shares of such stock are called "convertible preferred shares"</p>
 <br>
 <h3>SHARE HOLDER</h3><hr>
 <p>A shareholder (or stockholder) is an individual or company (including a corporation) that legally owns one or more shares of stock in a joint stock company. Both private and public traded companies have shareholders.

    Shareholders are granted special privileges depending on the class of stock, including the right to vote on matters such as elections to the board of directors, the right to share in distributions of the company's income, the right to purchase new shares issued by the company, and the right to a company's assets during a liquidation of the company. However, shareholder's rights to a company's assets are subordinate to the rights of the company's creditors</p>
<br>
<h3>APPLICATION</h3><hr>
<p>The owners of a private company may want additional capital to invest in new projects within the company. They may also simply wish to reduce their holding, freeing up capital for their own private use. They can achieve these goals by selling shares in the company to the general public, through a sale on a stock exchange. This process is called an initial public offering, or IPO.

    By selling shares they can sell part or all of the company to many part-owners. The purchase of one share entitles the owner of that share to literally share in the ownership of the company, a fraction of the decision-making power, and potentially a fraction of the profits, which the company may issue as dividends. The owner may also inherit debt and even litigation.</p>
