
      <div class="home">
        <div class="col no-gutters">
          <div class="b d-flex justify-content-center align-items-center">
            <h1 style="color: rgb(232, 226, 226);"> WELCOME TO FK TRADING</h1>
          </div>
            <div class=" c left d-flex justify-content-center align-items-center">
                <div style="font-family: fantasy;"><h1 style="color: rgb(41, 177, 100);">Lets Get Started</h1>
                     <div class=" d d-flex justify-content-center align-items-center" style="font-family:Arial, Helvetica, sans-serif;">
                    
                         <button type="button" routerLink="/landing" class="btn btn-outline-dark" style="color: rgb(224, 148, 17);">EXPLORE</button>
      
                     </div>
                    </div>
            </div>
        </div>
      </div>
<div>
<app-footer></app-footer>
</div>