<html>
<head>
   <title>pfm</title>
  </head>
<body>
  <div class="nav">
     <div class="navbar">
        <img src="../../assets/images/image.jpg" class="logo">
        <a class="name">Portfolio Management System</a>
        <!-- <ul>
           <li><a href="#">Home</a></li>
           <li> <a routerLink="/all">All Stocks</a></li>
           <li><a routerLink="/security">Securities</a></li>
           <li><a routerLink="/theme">Theme</a></li>
           <li><a routerLink="/header">Add Portfolio</a></li>
           <li><a routerLink="/asset">Assets</a></li>
          </ul> -->
          <ul>

            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a>
              <div class="sub-menu-1">
               <ul>
                 <li><a routerLink="/itheme" >Create Theme</a></li>
                 <br>
                 <li><a routerLink="/asset">Create Assets</a></li>
               </ul>
              </div>
           </li>
            <li><a routerLink="/search">Stocks</a></li>
            
         
           </ul>
       </div>
    </div>
  </body>
</html>