.bg{
    background-image: url("../../assets/images/industry1.jpg");
    /* Full height */
    height: 100vh;
    width: 100vw;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.search-box{
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);

    

}

/* .btn.btn-search{
    border-radius: 8px;
    height: 50px;
    
    
} */

